h1,h2,h3,p{
    padding:0;
    margin:0;
}

.container {
    display: flex;
    width: 250px; /* Adjust the width as needed */
    height: auto;
    aspect-ratio: 188 / 320;
    padding: 10px 12px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    border-radius: 10px;
    background: #FFF;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.cardType {
    align-self: stretch;

    color: #9D1C20;
    text-align: center;
    font-family: "Sofia Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.cardTitle {
    align-self: flex-start;

    color: #9D1C20;
    font-family: "Richmond Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cardDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.cardDetailsItem {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 18px;
}

.cardText {
    color: #000;
    font-family: "Barlow Condensed";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    align-self: stretch;
}