.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px 10px;
    background: var(--primary-gradient);
    flex-shrink: 0;
}

.logo {
    height: 100%;
    max-height: 1.5rem /* 32px */;
    width: auto;
}

nav {
    display: flex;
    gap: 10px;
}

nav button {
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
}

nav button:hover {
    border: 1px solid white;
}

nav button.active {
    border: 1px solid white;
}
