.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    order: 0; /* Place it in the left-most position */
    padding: 0;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    max-height: 1.5rem;
    width: auto;
    cursor: pointer;
    order: 2; /* Place it in the right-most position */
}

.nav button {
    padding: 8px 16px;
    border: 2px solid transparent;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    height: 100%; /* Match the header height */
    border-radius: 8px;
    transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.nav button:hover,
.nav button.active {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Mobile styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background: var(--primary-gradient);
        gap: 10px;
        padding: 10px 0;
        border-top: 1px solid white;
    }

    .nav.open {
        display: flex;
    }
}
