.titleContainer {
    display: inline-flex;
    height: 368px;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    flex-shrink: 0;
}

.imageContainer {
    display: flex;
    gap: 20px;
}

.imageContainer img {
    width: 75%;
}

.accent {
    background: linear-gradient(90deg, #FF8018 0%, #F02E0C 100%);
}

.text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.subText {
    width: 537px;
    margin: 0;

    color: #000;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.primaryButton {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.primaryButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}