.layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main {
    flex-grow: 1;
    display: flex;
}

.main > div {
    flex-grow: 1;
}